   * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
html{
    scroll-behavior: smooth;
}
    body{
        font-family:'Segoe UI';
        background-color: lightblue;
        display: block;
        flex-direction: column;
        width: 100%;
        overflow-x: hidden;
        min-height: 150vh;
        
    }

.header {
    margin: 0 auto;
    display: flex;
    justify-content:center;
    align-items: center;
    background: rgba(153,153,255,0.25);
    flex-wrap: nowrap;
    border-radius: 15px;
    width: 850px;
    z-index: 10;
    position: fixed;
    top: 20px;
    justify-content: space-evenly;
}
.header a{
    white-space: nowrap;
    color: white;
    margin:0 15px;
    text-decoration: none;
    transition: color 0.35s ease-in;
}
.header a:hover{
    color: rgba(255, 9, 214, 0.774);
}
.logo {
    font-weight: bold;
    font-size: 20px;
}
.menu{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: flex-start;
}   
.caixa{
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.8)), url('../img/cozinhaa.png') center/cover;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    z-index: 1;
    position: relative;
}
.Features{
    min-height: 70vh;
}
.Features h1{
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 30px auto;
}
.Todas{
    display: flex;
    justify-content: center;
    gap: 20px;
    position: relative;
}
.caixa1{
    height: 500px;
    width: 300px;
    background-color: rgba(52, 156, 226, 0.205);
    margin: 10px;
    border-radius: 10px;
}
.Caixa1Texto img{
    width: 70px;
    text-align: center;
    display: flex;
    margin: 0 auto;
    z-index: -1;
}
.Caixa1Texto{
    font-size: 22px;
    padding: 10px;
    text-align: center;
}
.caixa2{
    height: 500px;
    width: 300px;
    background-color: rgba(52, 156, 226, 0.205);
    margin: 10px;
    border-radius: 10px;
    font-size: 22px;
    padding: 10px;
    text-align: center;
}
.Chocolate img{
    width: 100px;
    text-align: center;
    display: flex;
    margin: 0 auto;
    z-index: -1;
    transform: rotate(-10deg);
    margin-left: 20px;
}
.Caixa2Texto{
    display: flex;
}
.Acucar img{
    width: 100px;
    text-align: center;
    display: flex;
    margin: 0 auto;
    z-index: -1;
    transform: rotate(15deg);
    margin-left: 70px;
    text-align: end;
}
.caixa3{
    height: 500px;
    width: 300px;
    background-color: rgba(52, 156, 226, 0.205);
    margin: 10px;
    border-radius: 10px;
    font-size: 22px;
    padding: 10px;
    text-align: center;
}
.Caixa3Texto{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.Maca img{
    width: 100px;
    text-align: center;
    display: flex;
    margin: 0 auto;
    z-index: -1;
    transform: rotate(-10deg);
    margin-left: 10px;
    padding-top: 20px;
}

.Cha img{
    width: 100px;
    text-align: center;
    display: flex;
    margin: 0 auto;
    z-index: -1;
    transform: rotate(10deg);
    margin-left: 10px;
    padding-top: 20px;
}